<router-outlet></router-outlet>
<div *ngFor="let us of users">
    {{us.id}}
    {{us.name}}
    {{us.surname}}
    <input type="submit" value="update user" (click)="update(us)">
</div>
<hr>
<div *ngIf="show">
    <app-updateuser-input [user]="usertoSelected" (notif)="traitemenet($event)" (updateUser)="changeTab($event)"></app-updateuser-input>
</div>
<input type="submit" value="add" (click)="addUser()">

    <app-adduserreactive *ngIf="showFormAdd" (addedUser)="addElementToTab($event)"></app-adduserreactive>
